.open {
    background-color: transparent;
    border: 0;
    cursor: pointer;

    position: absolute;
    top: 16px;
    right: 12px;
}

.img {
    cursor: pointer;
    width: 15px;
    height: 15px;
}

.modal {
    width: 250px;
    height: 150px;
    padding: 12px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    position: absolute;

    right: -220px;
    top: 50px;

    display: none;
    z-index: 2;
}

.modalActive {
    display: block;
}